.topPanelGrid td {
    vertical-align: top;
}

.tablePanelGrid{
	table-layout: fixed;
	width: 100%;
}

.panelOnlineScroll{
	float:left;
	overflow-y: auto;
	height: 415px;
	width:98%
}

.tableChatMSG{
  	display: block;
  	height: 415px;
  	width: 99%;
  	overflow-y: scroll;
  	word-break: break-all;
  	font-size: 14px;
  	word-wrap: break-word;
}

.col1 { width: 70%; }
.col2 { width: 30%; }